<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>FOCAG4</title>
    <style>
        img {
          height: 180px;
          width: 100px;
        }
        </style>
</head>

<body>
    <div class="container">
        <div id="divNavbar">
        </div>
        <h1>FOCAG4</h1>
        <hr>
        <div id="divAlerts">
        </div>
        <div id="divMain">
            <!-- current displaying page -->
        </div>
        <div>
            <div class="card-footer">
                <small>References</small>
            </div>
            <div class="card-body">
                <ul>
                    <li class="card-text">
                        <small>Application built with Node.js support.</small>
                    </li>
                    <li class="card-text">
                        <small>
                            <a href="https://football-data.org" target="_blank">
                                football-data
                            </a>
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>