<div id="divResults">

</div>
<div id="matchesResults">

</div>
<h2>Group Matches</h2>
<p></p>
<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Date from:</label>
        <div class="col-sm-10">
            <input id="fromDate" type="date" class="form-control" name="fromDate">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Date to:</label>
        <div class="col-sm-10">
            <input id="toDate" type="date" class="form-control" name="toDate">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button id="buttonMatches" type="submit" class="btn btn-primary">Search Matches</button>
        </div>
    </div>
</form>
<p></p>
<h2>Edit group details</h2>
<p></p>
<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
            <input id="inputName" type="text" class="form-control" name="name">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
            <input id="inputDescription" type="text" class="form-control" name="description">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button id="buttonEdit" type="submit" class="btn btn-primary">Edit</button>
        </div>
    </div>
</form>
<p></p>
<h2>Add team to group</h2>
<p></p>
<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">ID:</label>
        <div class="col-sm-10">
            <input id="inputIDAdd" type="text" class="form-control" name="teamID">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button id="buttonAddTeam" type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>
<h2>Remove team from group</h2>
<p></p>
<p></p>
<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">ID:</label>
        <div class="col-sm-10">
            <input id="inputIDRemove" type="text" class="form-control" name="teamID">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button id="buttonRemoveTeam" type="submit" class="btn btn-primary">Remove</button>
        </div>
    </div>
</form>
<p></p>
<h2>Clone group</h2>
<p></p>
<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">New group name:</label>
        <div class="col-sm-10">
            <input id="inputCloneGroup" type="text" class="form-control" name="newName">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button id="buttonCloneGroup" type="submit" class="btn btn-primary">Clone</button>
        </div>
    </div>
</form>
<p></p>